<article class="chat-container">
  <sidebar class="sidebar">
    <div class="sidebar-container">
      Your chats will be listed here
    </div>
  </sidebar>

  <section class="chat">
    <header class="chat-header">
    </header>
    <div class="chat-body">
      Your chat will appear here
    </div>
  </section>
</article>
